.smallCursor {
    width: 12px;
    height: 12px;
    background-color: rgb(0, 119, 255);
    border-radius: 100%;
    position: fixed;
    z-index: 99999;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.shadowCursor {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 119, 255);
    /* opacity: 10;
    border: 1px solid rgb(0, 119, 255) ; */
    border-radius: 100%;
    filter: blur(35px);
    position: fixed;
    z-index: 99998;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (max-width: 768px) {
  .smallCursor,
  .shadowCursor {
    display: none;
  }
}
